# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/ctm_lk/main
cmd/ctm_lk/ctm_lk

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

*.log
